/* shared style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

/* main style */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
header nav .logo img{
    width: 139px;
}
header nav ul{
    display: flex;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: #000000;
    margin-right: 32px;
}
header nav button{
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}