/* shared style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container{
    width: 88%;
    max-width: 1360px;
    margin: 0 auto;
}

/* main style */