/* shared style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

button{
    cursor: pointer;
}

/* main style */
header{
    position: relative;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
header nav .logo img{
    width: 139px;
}
header nav ul{
    display: flex;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: #000000;
    margin-right: 32px;
}
header nav button{
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
#banner{
    background-image: url("../assets/hero-bg.png");
    width: 100%;
    height: 86.2vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#banner .banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner .banner-container .banner-des{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
}
#banner .banner-container .banner-des .early{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    background-color: #FFFFFF;
    max-width: 229px;
    padding: 8px 12px;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    margin: auto;
    margin-bottom: 16px;
}
#banner .banner-container .banner-des .early p{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}
#banner .banner-container h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
#banner .banner-container .green{
    color: #30B868;
}
#banner .banner-container .banner-para{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
#banner .banner-container .banner-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
#banner .banner-container .banner-btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    padding: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
#banner .banner-container .banner-btn .btn-1 img{
    margin-left: 10px;
}
#banner .banner-container .banner-btn .btn-2{
    border: 1px solid #FFFFFF;
    background-color: transparent;
}
#banner .banner-container .banner-btn .btn-2 img{
    margin-right: 10px;
}